body{
	height: 420px;
	background-color: lightblue;
}

div.login{
	padding : 30px 20px 60px 20px;
	margin: 5% 20% 10% 20%;
	border: 1px solid white;
	border-radius: 20px;
	background-color: white;
	box-shadow: 3px 3px 10px #000000;
}

div.tengah{
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	font-weight: bold;
}

h1.tengah{
	text-align: center;
}

.warn{
	color: #ff0000;
	font-style: italic;
	font-weight: lighter;
}

.apr{
	color: green;
	font-style: italic;
	font-weight: lighter;
}

.rad{
	padding : 5px 5px 5px 5px;
	border-radius: 5px;
	text-align: center;
	border: 2px solid black;
}